html {
    
    background-color: crimson;
}

.navigation {
    
    background-color: chartreuse;
    color: black;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    word-spacing: 40px;
}


.navigation a:link {
    color: #00008B;
}


.first {
    
    background-color: plum;
    text-align: center;
    margin: auto;
    width: 75%;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
}

body {
    
    background-color:whitesmoke;
    width: 70%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}