html {
    
    background-color: crimson;
}

.navigation {
    
    background-color: chartreuse;
    color: black;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    word-spacing: 40px;
  
}


.navigation a:link {
    color: #00008B;
}

.myproj {
    
    background-color: aqua;
        color: black;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    margin: auto;
    width: 75%;
    
}

.search {
    
   
    
}

body {
    
    background-color:whitesmoke;
    width: 70%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}