html {
    
    background-color: darkcyan;
}

.navigation {
    
    background-color: azure;
    color: black;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    word-spacing: 40px;
  
}


.navigation a:link {
    color: black;
}
.navigation a:visited {
    color: black;
}

.myproj {
    
    background-color: lightcyan;
        color: black;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 50px;
    margin: auto;
    width: 75%;
    
}

.project1 {
        background-color: lightblue;
        color: black;
        text-align: center;
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 30px;

}

.project2 {
        background-color: lightblue;
        color: black;
        text-align: center;
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 30px;

}

.project3 {
        background-color: lightblue;
        color: black;
        text-align: center;
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 30px;

}

.search {
    
   
    
}

body {
    
    background-color:whitesmoke;
    width: 70%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
.image {
    
   float:right;
    margin: 0 0 1em 1em;
   
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 32px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}


.show {display:block;}